.App {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.feed-container {
  width: 70vw;
  margin: 20px auto;
  text-align: center;
  h1,
  h2 {
    margin-bottom: 20px;
    color: rgb(63, 81, 181);
  }
}
