.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.feed-container {
  width: 90vw;
  margin: 20px auto 60px;
  text-align: center;
  h1,
  h2 {
    margin-bottom: 20px;
    color: rgb(63, 81, 181);
  }
}

@media screen and (min-width: 960px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .feed-container {
    width: 70vw;
  }
}
